.ach-top {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    width: calc(50% + 1rem);
}

.return-link {
    color: var(--text-color);
    padding: 0;
    text-decoration: none;
}

.full-achievements {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 4rem);
}

.full-ach-long {
    align-items: start;
    border: 1px solid var(--darkest-bg);
    color: var(--text-color);
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem .5rem;
    width: 50%;
}

.full-ach-long:first-child {
    margin: 0 0 1rem 0;
}

.achievement-title, .achievement-desc {
    margin: 0;
    padding: 0;
}