.game-cont {
    width: 100%;
}

.game-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    width: 60%;
}

.gc-inner {
    display: flex;
    gap: 2rem;
}

.gc-left {
    width: 65%;
}

.gc-right {
    width: 35%;
}

.gi-spacing {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.gi-spacing h4, .gi-tags h4 {
    color: var(--text-color);
    margin: 1rem 0 0;
}

.gis-left {
    margin: 0;
    width: 35%;
}

.gi-dp {
    margin-right: .75rem !important;
}

.dev {
    margin-top: 1rem;
}

.gi-tags {
    display: flex;
    flex-direction: column;
}

.tags {
    display: flex;
    gap: 1rem;
}

.atc {
    align-items: center;
    background-image: linear-gradient(to right, rgba(239, 239, 240, .20) 40%, rgba(239, 239, 240, .6) 90%);
    border-radius: 5px;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.atc-bm {
    margin: 1.5rem 1rem;
    padding: 0;
}

.atc-button-cont {
    align-items: center;
    background-color: black;
    border-radius: 4px;
    display: flex;
    gap: 1rem;
    height: 50px;
    justify-content: center;
    margin: 0 .5rem;
    padding: 0 .5rem;
}

.atc-btn {
    background-color: green;
    border: none;
    border-radius: 2px;
    color: var(--text-color);
    cursor: pointer;
    font-size: medium;
    padding: 5px;
}

.atc-btn:hover {
    color: white;
}

.lower-left {
    width: 100%;
}

.abt-sysreq, .abt-cont {
    margin: 2rem 0;
}

.abt-header {
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
    margin: 0;
    padding: 0 0 1rem 0;
}

.abt-text, .sysreq-text {
    color: var(--text-color);
    font-size: large;
    line-height: 1.5;
}

.sysreq-text {
    display: flex;
    font-size: medium;
    gap: 1rem;
    white-space: pre-line;
}

.sysreq {
    width: 50%;
}

.gc-right-tags {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lr-tags {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tag-header {
    background-image: linear-gradient(to right, rgba(23, 26, 33, .9), rgba(23, 26, 33, 1) 70%);
    color: var(--text-color);
    margin: 1.5rem 0 0;
    padding: 1rem;
}

.tags {
    background-image: linear-gradient(to right, rgba(27, 40, 56, .5), rgba(23, 26, 33, .8) 70%);
    display: flex;
    flex-wrap: wrap;
    padding: .5rem .5rem;
}

.lr-tag {
    background-color: rgba(102, 192, 244, .4);
    border-radius: 2px;
    color: var(--lightest-bg);
    font-size: medium;
    padding: .25rem;
    width: fit-content;
}

.side-achievements {
    align-items: center;
    background-image: linear-gradient(to right, rgba(27, 40, 56, .5), rgba(23, 26, 33, .8) 70%);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.side-achievement, .ach-popup {
    height: 56px;
    width: 56px;
}

.ach-popup {
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}

.ach-message {
    text-decoration: none;
}

.gcra-cont {
    align-items: center;
    background-image: linear-gradient(to right, rgba(23, 26, 33, .9), rgba(23, 26, 33, 1) 70%);
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 0 0;
    padding: 1rem;
}

.gcra-cont a {
    display: contents;
    width: fit-content;
}

.mc-square {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 56px !important;
    width: 56px !important;
}

.mc-score {
    margin: 0;
    padding: 0;
}

.mc-logo {
    width: 70%;
}

.high {
    background-color: #00ce7a;
}

.medium {
    background-color: #ffbd3f;
}

.low {
    background-color: #ff6874;
}

.gc-right-si {
    margin: 1.5rem 0;
}

.side-information {
    background-image: linear-gradient(to right, rgba(27, 40, 56, .5), rgba(23, 26, 33, .8) 70%);
    flex-wrap: wrap;
    padding: .5rem .5rem;
}

.si-spacing {
    align-items: center;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: .75rem;
}

.si-spacing p {
    font-size: small;
    margin: 0;
    padding: 0;
}

.si-spacing h4 {
    margin: 0;
    padding: 0;
}

.si-spacing a {
    color: var(--lightest-bg);
    text-decoration: none;
}