.game-cont {
    width: 100%;
}

.game-content {
    background-color: #303030;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    width: 60%;
}

.gc-inner {
    display: flex;
    gap: 2rem;
}

.gc-left {
    width: 65%;
}

.gc-right {
    width: 35%;
}

.gi-spacing {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.gi-spacing h4, .gi-tags h4 {
    color: aliceblue;
    margin: 1rem 0 0;
}

.gis-left {
    margin: 0;
    width: 40%;
}

.dev {
    margin-top: 1rem;
}

.gi-tags {
    display: flex;
    flex-direction: column;
}

.tags {
    display: flex;
    gap: 1rem;
}

.atc {
    align-items: center;
    background-color: darkblue;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.atc-bm {
    margin: 1rem;
    padding: 0;
}

.atc-button-cont {
    align-items: center;
    background-color: black;
    border-radius: 4px;
    display: flex;
    gap: 1rem;
    height: 50px;
    justify-content: center;
    margin: 0 .5rem;
    padding: 0 .5rem;
}

.atc-btn {
    background-color: green;
    border: none;
    border-radius: 2px;
    color: aliceblue;
    font-size: medium;
    padding: 5px;
}

.lower-left {
    width: 100%;
}

.abt-sysreq, .abt-cont {
    margin: 2rem 0;
}

.abt-header {
    border-bottom: 1px solid aliceblue;
    color: aliceblue;
    margin: 0;
    padding: 0 0 1rem 0;
}

.abt-text, .sysreq-text {
    color: aliceblue;
    font-size: large;
    line-height: 1.5;
}

.sysreq-text {
    display: flex;
    font-size: medium;
    gap: 1rem;
    white-space: pre-line;
}

.sysreq {
    width: 50%;
}

.gc-right-tags {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lr-tags {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tag-header {
    background-color: #242424;
    color: aliceblue;
    margin: 1.5rem 0 0;
    padding: 1rem;
}

.tags {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: .5rem .5rem;
}

.lr-tag {
    background-color: lightblue;
    color: #242424;
    font-size: small;
    padding: .25rem;
    width: fit-content;
}

.side-achievements {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.side-achievement, .ach-popup {
    height: 56px;
    width: 56px;
}

.ach-popup {
    align-items: center;
    color: aliceblue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}