@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Asap;
}

.cart-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #242424;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-search {
  background: #3b3b3b;
  border: none;
  border-radius: 3px;
  color: aliceblue;
  padding: 10px;
  width: 300px;
  &:focus {
    background: #242424;
    box-shadow: 0 0px 3px 1px aliceblue;
    outline: 0;
  }
}

.nav-search-icon {
  color: aliceblue;
}

.right-nav {
  display: inherit;
  gap: 3rem;
}

.nav-link {
  color: aliceblue;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
}

.nav-link:hover {
  transform: scale(1.1);
  transition: all .25s ease;
}