.item-card {
    background-image: linear-gradient(to right, var(--dark-bg) 50%, var(--darkest-bg));
    border-radius: 2%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: min-content;
    overflow: hidden;
    transition: all .25s ease;
}

.item-card:hover, .item-card:focus-visible {
    box-shadow: 0 0 5px 2px black;
    outline: 0;
    transform: scale(1.05);
    transition: all .25s ease;
}

.item-card a {
    color: var(--text-color);
    display: inline-block;
    text-decoration: none;
    width: fit-content;
}

.game-title {
    margin: .75rem 0 0;
    padding: 0;
    width: fit-content;
}

.item-card img {
    aspect-ratio: 1.7 / 1;
    object-fit: cover;
    width: 100%;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    justify-content: space-between;
}

.icon-div {
    align-items: center;
    display: flex;
    gap: .4rem;
    margin: .5rem 0 0;
}

.card-rd, .bc-top {
    padding: 0 1rem;
}

.card-rd {
    display: flex;
    justify-content: space-between;
}

.game-rating {
    margin: .5rem 0 0;
    padding: 0;
}

.good {
    color: green;
}

.average {
    color: yellow;
}

.bad {
    color: red;
}