.item-card {
    background-image: linear-gradient(to right, var(--dark-bg) 50%, var(--darkest-bg));
    border-radius: 2%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all .25s ease;
}

.item-card:hover, .item-card:focus-visible {
    box-shadow: 0 0 5px 2px black;
    outline: 0;
}

.item-card a {
    color: var(--text-color);
    text-decoration: none;
}

.item-card img {
    align-self: center;
    height: 230px !important;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    height: 150px !important;
    justify-content: space-between;
}

.card-rd, .bc-top {
    padding: .5rem 1rem;
}

.card-rd {
    display: flex;
    justify-content: space-between;
}

.good {
    color: green;
}

.average {
    color: yellow;
}

.bad {
    color: red;
}