.shop-resultsbar {
    align-items: center;
    background-color: var(--darkest-bg);
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
}

.srb-form {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.scs-def-tags {
    background-color: var(--dark-bg);
    border: 1px solid var(--dark-bg);
    padding: 10px;
    position: relative;
    margin: 0 auto;
    user-select: none;
    width: 200px;
}

.scs-def-tags:after {
    border: 6px solid transparent;
    border-top-color: var(--text-color);
    content:'';
    height: 0;
    margin-top: -3px;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 0;
}

.scs-def-tags.is-active::after {
    border-bottom-color: var(--text-color);
    border-top-color: transparent;
    margin-top: -9px;
}

.scs-def-tags ul {
    border: inherit;
    border-top: none;
    height: 100px;
    list-style: none;
    left: -1px; /* align the dropdown to the left */
    margin: 0;
    opacity: 0; /* hide the dropdown */
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
    pointer-events: none; /* avoid mouse click events inside the dropdown */
    position: absolute;
    right: -1px; /* align the dropdown to the right */
    top: 100%; /* align the dropdown right below the dropdown text */
    transition: opacity 0.4s ease-in-out;
}

.scs-def-tags.is-active ul {
    opacity: 1; /* display the dropdown */
    pointer-events: auto; /* make sure that the user still can select checkboxes */
}

.scs-def-tags ul li label {
    border-bottom: 1px solid var(--text-color);
    display: block;
    padding: 10px;
    transition: all 0.2s ease-out;
}

.scs-def-tags ul li label:hover {
    background-color: var(--lightest-bg);
    color: white;
}

.scs-def-tags ul li label.selected {
    background-color: var(--lightest-bg);
    color: white;
}

select {
    padding: 10px;
  
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--dark-bg);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23C7D5E0%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 10px top 50%, 0 0;
    background-size: .8em auto, 100%;
    border: 1px solid var(--dark-bg);
    width: 200px;
}

select::-ms-expand {
    display: none;
}