.game-name {
    color: aliceblue;
    margin: 0;
    padding: 1.5rem 0;
}

.scroller-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.carousel {
    background-color: var(--darkest-bg);
    display: flex;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slide, .video-div {
    align-self: center;
    max-height: 400px;
    position: absolute;
    transition: all .25s;
}

.video-div {
    width: 100%;
    z-index: 0;
}

.slide-img, .video-player {
    max-height: 100%;
    width: 100%;
}

.sm-carousel {
    height: calc(415px / 4);
    overflow: hidden;
    margin: 0 0 .5rem;
    position: relative;
    width: 100%;
}

.small-slide {
    position: absolute;
    transition: all .25s;
    width: calc(25% - 1rem);
}

.ss-img {
    border: 2px solid transparent;
    width: 100%;
}

.active {
    border: 2px solid white;
    position: relative;
}

.scroller-btns {
    display: flex;
    margin-top: 0 0 .5rem;
}

.btn-prev, .btn-next {
    border-bottom: .75rem solid transparent;
    border-top: .75rem solid transparent;
    cursor: pointer;
    height: 0;
    margin: 0 .4rem;
    width: 0;
}

.btn-prev {
    border-right: 1.5rem solid var(--lightest-bg);
}

.btn-next {
    border-left: 1.5rem solid var(--lightest-bg);
}

.slide-rail {
    align-items: center;
    background-color: var(--dark-bg);
    display: flex;
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.bs-slider {
    background-color: var(--lightest-bg);
    border-radius: 5px;
    height: 110%;
    position: absolute;
    transition: all .25s;
}

.game-info {
    width: 50%;
}

.game-image {
    width: 100%;
}