.game-name {
    color: aliceblue;
    margin: 0;
    padding: 1.5rem 0;
}

.scroller-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.carousel {
    height: 415px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slide {
    position: absolute;
    transition: all .25s;
}

.slide-img {
    width: 100%;
}

.scroller-btns {
    display: flex;
    margin-top: .5rem;
}

.btn-prev, .btn-next {
    border-bottom: .75rem solid transparent;
    border-top: .75rem solid transparent;
    cursor: pointer;
    height: 0;
    width: 0;
}

.btn-prev {
    border-right: 1.5rem solid aliceblue;
}

.btn-next {
    border-left: 1.5rem solid aliceblue;
}

.slide-rail {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
}

.bs-slider {
    background-color: aliceblue;
    height: 100%;
    margin: 0 1rem;
    position: absolute;
    transition: all .25s;
}

.game-info {
    width: 50%;
}

.game-image {
    width: 100%;
}