.product-cont {
    display: flex;
    overflow-y: hidden;
    width: 100%;
}

.pg-container {
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 4rem);
    overflow-y: scroll;
    scrollbar-width: none;
    width: 80%;
}

.pg-container::-webkit-scrollbar {
    display: none;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1.75rem;
    grid-row-gap: 2rem;
    padding: 1rem 1.5rem;
}

.pagination-div {
    display: flex;
    gap: 1rem;
    margin: 1rem auto 1rem;
    padding: 0 1.5rem;
}

.pagination-btn {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-family: Asap;
    font-weight: bold;
    padding: 0;
}