.sc-sidebar {
    background: var(--light-bg);
    box-shadow: 0 0 2px 1px black;
    color: var(--text-color);
    height: calc(100vh - 3rem - 67px);
    overflow-x: hidden;
    padding: 1.5rem;
    position: sticky;
    top: 67px;
    width: 18%;
}